
.DS_Store
dbcase.config
*.config
bin/Controlador/Controlador.class
*.class
*.class
bin/Controlador/Controlador.class
bin/Controlador/TC.class
*.class
bin/Controlador/Controlador.class
/projects/
bin/Controlador/Controlador.class
dbcase.config
/.metadata/

# Project exclude paths
/bin/