<?xml version="1.0" encoding="utf-8" ?>
<config language="" database="MySQL" lastProject="C:\Users\javid\IdeaProjects\DBCase4.0\Examples\Ejemplo 1.xml" theme="light" modoVista="0" zoom="0" reciente0="C:\Users\javid\IdeaProjects\DBCase4.0\Examples\Ejemplo 1.xml" reciente1="nada" reciente2="nada" reciente3="nada" reciente4="nada" reciente5="nada" reciente6="nada" reciente7="nada" reciente8="nada" reciente9="nada" nullAttr="false" > 
</config> 
